

/*dashboard style sheet.detals*/
.detals
{
	border: 1px solid #ee302d;
	overflow: hidden;
	padding: 20px;
	min-height: 200px;
	border-radius: 10px;
}
.detals:hover
{
	box-shadow: 0px 0px 10px 0px;
}
.my-btn
{
	border: 1px solid #ee302d;
	padding: 10px;
	color: #ee302d;
	background-color: white;
}
.my-btn:hover
{
	text-decoration: none;
	background-color: #ee302d;
	color: white;
}
.detals-text
{
	font-size: 20px;
	color: black;
}








/*add_blood.php stylesheet*/

/*form-header text*/
.add_blood_text
{
	font-size: 30px;
}
/*header text div*/
.form-header
{
	background-color: #6B6766;
	color: white;
	padding: 10px;
}
.border-form
{
	border: 1px solid #6B6766;	
}
.form-btn
{
	border: 1px solid #6B6766;
	padding: 10px;
	color: black;
	background-color: white;
}
.form-btn:hover
{
	background-color: #6B6766;
	color: white;
}